on fs
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0ca8
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on boot
    # disable 1 CPUs to prevent heat
    write /sys/devices/system/cpu/cpu1/online 0
    chmod 444 /sys/devices/system/cpu/cpu1/online
    start choice_fn
    start chargeled

    write /sys/class/android_usb/android0/enable 1
    setprop usb.vendor 0bb4
    setprop usb.product.adb 0df5
    setprop usb.product.mass_storageadb 0ff9
    setprop usb.product.mtpadb 0ca8

on property:sys.usb.config=none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable ${service.adb.root}
    start adbd

# Switch out fstab on jewel if unified storage is present
on property:ro.bootloader=2.10.5555
    start fstab_swap

on property:ro.bootloader=2.10.0000
    start fstab_swap

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service choice_fn /sbin/choice_fn
    disabled
    oneshot
    seclabel u:r:recovery:s0

service detect_key /sbin/detect_key
    disabled
    oneshot
    seclabel u:r:healthd:s0

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0

service power_test /sbin/power_test
    disabled
    oneshot
    seclabel u:r:recovery:s0

service fstab_swap /sbin/fstab_swap.sh
    oneshot
    disabled
